{% extends "login_layout.html" %}
{% load crispy_forms_tags %}

{%block content%}

<div class="box container">
    <p class="title has-text-centered">Увійти</p>
    <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy}}
    
      
      <button type="submit" class="button is-primary">Увійти</button>
      <hr>
      <p class="text-center">Забули ваш пароль <a href="#">Відновити</a></p>
      <p class="text-center">Не маєш акаунт? <a href="{%url 'account:signup' %}">Зареєструватись</a></p>
    </form>
</div>
{% endblock %}