<div class="columns">

    <div class="column is-3 is-flex is-flex-direction-column">
            <div class="is-sticked box mt-2" style="z-index:10;">
                <div class="is-flex is-justify-content-space-evenly is-align-items-flex-start">
                <p class="subtitle is-4 has-text-centered is-sticked">Бригади</p>
                  <a class="button is-primary is-outlined" id="filter-button" onclick="toggleColumn('filter-column')"
                  hx-get="{%url 'account:squad-category'%}" 
                  hx-swap="innerHTML" 
                  hx-target="#filter">
                    <span class="icon is-small">
                      <i class="fa-solid fa-filter"></i>
                    </span>
                  </a>
                </div>
                
                <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="text" placeholder="Пошук" hx-get="{%url 'account:squad-list'%}" 
                      name="search" 
                      hx-target="#side-menu"
                      hx-swap="innerHTML"
                      hx-trigger="keyup changed delay:1s">
                      <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                      </span>
                    </p>
                  </div>
            </div>
            
            <aside id="side-menu" style="overflow-y:auto;" class="content-size">
                    <div hx-get="{%url 'account:squad-list'%}" hx-trigger="load" hx-target="#side-menu" hx-swap="innerHTML">
                    </div>
            </aside>
    </div>
    <div class="column content-column" id="content-detail" style="overflow-y:auto;">
        <div class="columns is-vcentered">
          <div class="has-text-centered column ">
            <p>Будь-ласка виберіть щось</p>
          </div>
        </div>
    </div>

    <div class="column is-2 is-hidden" id="filter-column">
      <div class="box mt-2">
        <p class="title is-5">Фільтр</p>
        <div id="filter"></div>
      </div>
    </div>
</div> 

<script>
  function toggleColumn(id){
    const col = document.getElementById(id)
    col.classList.toggle("is-hidden")
  }
</script>